.App {
    padding: 1rem;
    min-width:600px!important;
    min-height: 500px!important;
  }
   
  .box {
    width: fit-content;
    height: 400px;
    border: solid 1px #000;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .messages {
    flex-grow: 1;
  }
  
  .input-div {
    display: flex;
    width: 100%;
}

.small-center-form{
  background-color: rgb(240, 240, 255);
  padding-top: 1.5vh;
  padding-bottom: 0.75;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  width: 22.5vw;
  height: 42.5vh;
  min-height: 22.5vw;
  min-width: 42.5vh;
  border-radius:10px;
  margin: auto;
}

.small-fluid-container{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  top: 50%;
  left: 50%;
  width: auto;
  height:auto;
  transform: translate(-50%, -50%);
}

.medium-fluid-container{
  position: absolute;
  background-color: rgb(240, 240, 255);
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  width: 67.5vmin;
  height: 60vmin;
  min-height: 30vw;
  border-radius:10px;
  top: 50vh;
  bottom: 50vh;
  left: 50vw;
  right: 50vw;
  transform: translate(-50%, -50%);
}

.join-fluid-container{
  position: absolute;
  bottom: 0;
  background-color: rgb(240, 240, 255);
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  width: 55vmin;
  min-height: 200px;
  min-width: 200px;
  height: 40vmin;
  border-radius:10px;
  margin: auto;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.big-fluid-container{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgb(240, 240, 255);
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  width: 90%;
  height: 90%;
  border-radius:10px;
  margin: auto;
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game-fluid-container{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgb(240, 240, 255);
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  width: 90%;
  height: 90%;
  border-radius:10px;
  margin: auto;
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-inputtext{
  height: 4vmin;
  width: 4vmin;
}
.p-colorpicker{
  margin: 0!important;
  display: block;
  align-self: end;
  bottom: 5vmin;
  right: 1vmin;
}

.btn{
  height: 6vh;
  width: 12.5vw;
  padding: calc(0.1vh + 0.1vw);
}

.btn-primary-lavender{
  background-color: rgb(149, 149, 197);
  color: azure;
  border-color: rgb(35, 35, 35);
  border: 2px;
  border-style: outset;
}

.btn-primary-lavender:hover{
  background-color: rgb(85, 85, 155);
  border-color: rgb(35, 35, 35);
  border: 2px;
  border-style: inset;
}

.btn-secondary-yellow{
  background-color: rgb(247, 232, 99);
  color: rgb(14, 3, 3);
  border-color: rgb(35, 35, 35);
  border: 2px;
  border-style: outset;
}

.btn-secondary-yellow:hover{
  background-color: rgb(255, 207, 34);
  border-color: rgb(35, 35, 35);
  border: 2px;
  border-style: inset;
}

.btn-success{
  margin-right: 21.5vw;
  margin-left: 4.5vw;
  width: 45vw;
  height: 5.5vh;
}
.btn-danger{
  width: 10vw;
  height: 5.5vh;
  position: absolute;
  margin-right: 2vw;
  right: 0;
}

.btn{
  margin-top: 3.5vh;
  font-size: calc(0.9vh + 0.9vw);
}

h1{
  font-size: calc(2.5vh + 1.5vw)!important;
}

h5{
  font-size: calc(1vh + 1vw)!important;
}

h6{
  font-size: calc(0.9vh + 0.9vw)!important;
}

h7{
  font-size: calc(0.7vh + 0.7vw)!important;
}

.chat-container{
  position: absolute;
  top: 0; right: 0; bottom: 0;
  width: 45vmin;
  height: 55vmin;
  border-radius:10px;
  margin-left: 66%;
  margin-top: 3vmin;
  margin-right: 4.33vmin;
}

